@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.noScrollbar {
  -ms-overflow-style: none !important; /* Internet Explorer 10+ */
  scrollbar-width: none !important; /* Firefox */
}

.noScrollbar::-webkit-scrollbar {
  display: none !important; /* Safari and Chrome */
}

/* ----- tooltip---- */
.relative {
  position: relative;
}

.tooltip {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  background-color: #101928;
  padding: 16px;
  width: 330px;
  border-radius: 8px;
  z-index: 10;
  white-space: pre-wrap;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.tooltip-arrow {
  position: absolute;
  top: 50%;
  left: -10px;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #101928;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.tooltip-text {
  display: block;
}

/* styles/global.css */
.phone-input-container {
  display: flex;
  flex-direction: column;
  font-family: inherit !important;
}

.react-tel-input .form-control {
  width: 100% !important;
  height: 56px !important;
  border: 1px solid #d0d5dd !important;
  border-radius: 6px !important;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.react-tel-input .flag-dropdown {
  border: none !important;
  background-color: transparent !important;
}

.phone-input {
  width: 100%;
  padding: 8px;
  margin-top: 8px;
  font-size: 16px;
}

.phone-input-button {
  background: none;
  border: none;
  cursor: pointer;
}

.phone-input-dropdown {
  overflow-y: auto;
}


.loader {
  --d:22px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  color: #98A2B3;
  box-shadow: 
    calc(1*var(--d))      calc(0*var(--d))     0 0,
    calc(0.707*var(--d))  calc(0.707*var(--d)) 0 1px,
    calc(0*var(--d))      calc(1*var(--d))     0 2px,
    calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3px,
    calc(-1*var(--d))     calc(0*var(--d))     0 4px,
    calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5px,
    calc(0*var(--d))      calc(-1*var(--d))    0 6px;
  animation: l27 1s infinite steps(8);
}
@keyframes l27 {
  100% {transform: rotate(1turn)}
}


