

name: SonarQube Scan

on:
  push:
    branches:
      - main

jobs:
  sonarcloud:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          java-version: 11
          distribution: 'adopt'

      - name: Install SonarScanner CLI
        run: |
         mkdir -p $HOME/sonarscanner
          wget https://binaries.sonarsource.com/Distribution/sonar-scanner-cli/sonar-scanner-cli-6.2.1.4610-linux-x64.zip
          unzip sonar-scanner-cli-6.2.1.4610-linux-x64.zip -d $HOME/sonarscanner
          echo "$HOME/sonarscanner/sonar-scanner-6.2.1.4610-linux-x64/bin" >> $GITHUB_PATH

      - name: Debug SonarScanner
        run: sonar-scanner -X
        env:
            SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
            SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}

      - name: SonarQube Scanner
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: https://sonarcloud.io
        run: |
          sonar-scanner \
            -X \
            -Dsonar.projectKey=maincre8 \
            -Dsonar.organization=rolarblaze \
            -Dsonar.host.url=${SONAR_HOST_URL} \
            -Dsonar.login=${SONAR_TOKEN}

# hhhh